<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/head:: head">
    </div>
    <title>Create Project</title>
</head>
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/navbar :: navbar">
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/side-bar :: sidebar">
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="mb-2" >Archived Projects</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- TABLE -->
                <!-- ============================================================== -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <thead>
                    <tr>
                        <th scope="col">Project </th>
                        <th scope="col">Task Subject</th>
                        <th scope="col">Assigned Employee</th>
                        <th scope="col">Assigned Date</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>PR 1</td>
                        <td>Java</td>
                        <td>Gabriel</td>
                        <td>01/01/2021</td>
                        <td>Completed</td>
                    </tr>
                    </tbody>
                </table>
                <!-- ============================================================== -->
                <!-- END TABLE -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<div th:replace="fragments/javascript :: js">
</div>
</div>
</body>
</html>



