<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/head:: head">
    </div>
    <title>Project Status</title>
</head>
<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/navbar :: navbar">
    </div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/side-bar :: sidebar">
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="mb-2" >Project List</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- TABLE -->
                <!-- ============================================================== -->
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Project Code</th>
                        <th scope="col">Project Name</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">Manager</th>
                        <th scope="col">Finish/Total Tasks</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="project : ${projects}">
                        <td th:text="${project.projectCode}"></td>
                        <td th:text="${project.projectName}"></td>
                        <td th:text="${project.startDate}"></td>
                        <td th:text="${project.user.firstName} + ' ' + ${project.user.lastName}"></td>
                        <td th:text="${project.completedTasks} + '/' + ${project.totalTasks}"></td>
                        <td th:text="${project.projectStatus}"></td>
                        <td>
                            <a class="btn btn-info rounded-0">Complete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- ============================================================== -->
                <!-- END TABLE -->
                <!-- ============================================================== -->
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<div th:replace="fragments/javascript :: js">
</div>
</div>
</body>
</html>



