<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="/fragments/head:: head">
    </div>
    <title>Create User</title>
</head>

<body>
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/navbar :: navbar"></div>
    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->
    <div th:replace="/fragments/side-bar :: sidebar">
    </div>
    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="mb-2">Update User</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="row" >
                    <div class="col-lg-12 col-md-12 col-sm-12" >
                        <form  class="needs-validation" th:object="${user}" method="post" th:action="@{/user/update-user/{id}(id=${user.id})}" novalidate>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="firstName" class="col-form-label">First Name</label>
                                        <input id="firstName" placeholder="First Name" type="text" class="form-control" th:field="*{firstName}" required>
                                        <div class="invalid-feedback">
                                            Please enter first name.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="lastName" class="col-form-label">Last Name</label>
                                        <input id="lastName" placeholder="Last Name" type="text" class="form-control" th:field="*{lastName}" required>
                                        <div class="invalid-feedback">
                                            Please enter last name.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="username" class="col-form-label">Username</label>
                                        <input id="username" placeholder="Username" type="text" class="form-control" th:field="*{userName}" required>
                                        <div class="invalid-feedback">
                                            Please enter user name.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="email_address" class="col-form-label">Email Address</label>
                                        <input id="email_address" placeholder="Email Address" type="text" class="form-control"
                                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" th:field="*{email}" required>
                                        <div class="invalid-feedback">
                                            Please enter a valid email address.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="phone_number" class="col-form-label">Phone Number</label>
                                        <input id="phone_number" placeholder="Phone Number" type="tel" class="form-control"
                                               pattern="^\d{10}$" th:field="*{phoneNumber}" required>
                                        <div class="invalid-feedback">
                                            Please enter a 10 digit phone number.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="birth_date" class="col-form-label">Birth Date</label>
                                        <input id="birth_date" type="date" class="form-control" th:field="*{birthDate}" required>
                                        <div class="invalid-feedback">
                                            Please enter birth date.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="password" class="col-form-label">Password</label>
                                        <input id="password" placeholder="Password" type="text" class="form-control"
                                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" th:field="*{password}"  required>
                                        <div class="invalid-feedback">
                                            Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group">
                                        <label for="confirm_password" class="col-form-label">Confirm Password</label>
                                        <input id="confirm_password" placeholder="Confirm your Password"  type="text" class="form-control"
                                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,}" th:field="*{confirmPassword}" required>
                                        <div class="invalid-feedback">
                                            Must contain at least one number and one uppercase and lowercase letter, and at least 4 or more characters.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Choose a role</label>
                                        <select name="role" class="custom-select" required="required">
                                            <option th:each="user_role : ${roles}"
                                                    th:value="${user_role.id}"
                                                    th:text="${user_role.description}"
                                                    th:selected="(${user_role.id} == *{id})">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <br>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="radio-inline" checked="" class="custom-control-input" th:field="*{gender}" th:value="MALE">
                                            <span class="custom-control-label">Male</span>
                                        </label>
                                        <label class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" name="radio-inline" class="custom-control-input" th:field="*{gender}" th:value="FEMALE">
                                            <span class="custom-control-label">Female</span>
                                        </label>
                                        <div class="float-right">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="mb-2" >User List</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.firstName + ' ' + user.lastName}"></td>
                        <td th:text="${user.userName}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.gender}"></td>
                        <td th:text="${user.phoneNumber}"></td>
                        <td th:text="${user.role.description}"></td>
                        <td class="actions">
                            <a th:href="@{/user/update-user/{id}(id=${user.id})}"><button type="button" class="btn btn-warning btn-sm" th:text="Update"></button></a>
                            <a th:href="@{/user/delete-user/{id}(id=${user.id})}" class="delete-row"><button type="button" class="btn btn-secondary btn-sm" th:text="Delete"></button></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div>
</div>
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<div th:replace="fragments/javascript :: js">
</div>
</div>
</body>
<!-- ============================================================== -->
<!-- Javascript validation -->
<!-- ============================================================== -->
<script>
    (function () {
        'use strict'
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
</html>



